section {
  width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #DBDBDB;
  margin: 200px auto;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.email_box {
  width: 100%;
}
.email_title {
  font-size: 30px;
}
.email_input {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #DBDBDB;
  outline: none;
  box-sizing: border-box;
  font-size: 24px;
}
.email_input::placeholder {
  color: #D0CFCF;
  font-weight: 400;
}
/* 버튼영역 */
.button_box {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.sign_up_btn {
  flex-basis: 40%;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: #2C2C2C;
  color: #FFFFFF;
}
.sign_up_btn:hover {
  cursor: pointer;
}
.back_btn {
  flex-basis: 40%;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  color: #2C2C2C;
}
.back_btn:hover {
  cursor: pointer;
}
/* 경고문 */
.email_warning {
  color: red;
  display: none;
}
.email_check_warning {
  color: red;
  display: none;
}
/* show */
.show {
  display: block;
}